<!-- Footer -->
<footer class="page-footer font-small">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © 2018 Copyright:
        <a href=""> Shopping3D developed by 4Dogs</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->