.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site_content {
    flex: 1;
}

footer {
    background-color: #79589F !important;
}

.navbar {
    background-color: #79589F !important;
}

    .navbar a {
        color: white !important;
    }

footer a {
    font-weight: bold !important;
    color: white !important;
}

footer div {
    color: white !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.navbar-toggler {
    border-color: white !important;
}

    .navbar-toggler:focus {
        outline: none !important;
    }

#logo-header {
    max-height: 80px;
    max-width: 160px;
}

#logo-espacio {
    /*padding: 0.5rem 4.5rem !important;*/
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
